<div class="center hero-unit">
  <h1>The Best Ear Training Site Online</h1>

  <h2>
    The Most Efficient Way To Develop Perfect Pitch
  </h2>


  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<h3><%= link_to 'Start Training Your Ear Today!', paths_path %></h3>
